<mat-grid-list cols="1" rowHeight="90%">
    <mat-grid-tile>
        <mat-card class="card-login">
            <mat-card-content>
                <form #signupForm="ngForm" (ngSubmit)="signupUser(signupForm)">
                    <mat-form-field class="example-full-width">
                        <mat-label> Username: </mat-label>
                        <input matInput type="text" name="username" id="username" ngModel>
                        <br>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label> Email: </mat-label>
                        <input matInput type="text" name="email" id="email" ngModel>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label> for="password">Password: </mat-label>
                        <input matInput type="password" name="password" id="password" ngModel>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Age: </mat-label>
                        <input matInput type="number" name="age" id="age" ngModel>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label> Weight (KG): </mat-label>
                        <input matInput type="number" name="weight" id="weight" ngModel>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">

                        <mat-label> Height (cm): </mat-label>
                        <input matInput type="number" name="height" id="height" ngModel>
                    </mat-form-field>

                    <mat-label> Gender: </mat-label>
                    <select matInput name="gender" id="gender" ngModel>
                        <option value="male"> Male </option>
                        <option value="female"> Female </option>
                    </select>
                    <mat-label>Preference: </mat-label>
                    <select matInput name="diet" id="diet" ngModel>
                        <option value="vegetarian"> Vegetarian </option>
                        <option value="non-vegetarian"> Non Vegetarian </option>
                    </select>

                    <br>
                    <br>
                    <button mat-raised-button type="submit">SignUp</button>
                    
                    <button style="float: right" mat-raised-button (click)="onSignin()"> Signin </button>
                </form>

            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>