<body>

    
    Today's intake: {{actual_intake}}/{{expected_intake}}
    <p>recommended items for you </p>
    <mat-grid-list cols="4" >
        <mat-grid-tile *ngFor="let a of recommended_items; let index = index">

            <mat-card class="card-login">
                <mat-card-header>
                    <mat-card-title>
                        Item: {{a.name}}
                    </mat-card-title>
                    <mat-card-subtitle>
                        Calories: {{a.calories}}
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <img style="width: 300px; height: 300px" src="./assets/{{a.name}}.jpg" />
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</body>